
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EntitiesList</title>
    <link href="~/Content/bootstrap.min.css" rel="/" />
</head>
<body>
    <div class="navbar nabar-inverse">
        <a class="navbar navbar-inverse">
            По "Аудиторії": інформація про облік ауддиторії
        </a>
        <a class="navbar-brand visible-xs" href="/">
            По "Аудиторії"
        </a>
    </div>
    <div class="row panel">

        
        @Html.ActionLink("Classrooms", "Index", "Home", new { class= "btn btn-block btn-default btn-la" })
    </div>
</body>
</html>
